<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      href="https://seeklogo.com/images/D/django-logo-4C5ECF7036-seeklogo.com.png"
    />
    <style>
      * {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
  <p>Edilmişlər listin:</p>
    <ol>
      {% for got in gots_list %}
      <li>{{got.name}}</li>
      {% endfor %}
    </ol>
  </body>
</html>
